* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  display: grid;
  grid-template-rows: auto 1fr auto;
  font-family: "Noto Sans TC", sans-serif;
}

.wrapper {
  min-height: 100vh;
}

.main,
header {
  width: 90%;
  max-width: 1000px;
  margin: 0 auto;
}

header {
  padding: 16px;
}

nav {
  width: 40%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 18px;
}

.link {
  color: #867c73;
}

.link.active {
  color: #fd7e14;
}
.title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 50%;
  padding: 32px 16px;
}

.hide {
  display: none;
}

.input-search {
  outline: 0;
  height: 42px;
  width: 244px;
  line-height: 42px;
  padding: 0 16px;
  background-color: rgba(255, 255, 255, 0.8);
  color: #212121;
  border: 0;
  border-radius: 4px;
  border: 2px solid #fd7e14;
}

.input-search:focus {
  outline: 0;
  background-color: #fff;
}

.products-container,
.wishlist {
  display: flex;
  flex-flow: wrap;
  justify-content: space-between;
}

.product {
  display: flex;
  margin: 0.5em;
  width: 100%;
}

.product-item {
  display: flex;
  flex-direction: column;
  background-color: #efeeea;
  padding: 1em;
  width: 100%;
}

.product-item p {
  flex: 1 0 auto;
}

.price {
  display: flex;
  justify-content: space-between;
  margin-top: 16px;
}
.price span {
  font-size: 22px;
}
i {
  font-size: 24px;
  color: #fd7e14;
}
.img-container {
  position: relative;
  padding-top: 56.25%;
  margin-bottom: 16px;
}

.img {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

@media all and (min-width: 500px) {
  .product {
    width: 45%;
  }
}
@media all and (min-width: 800px) {
  .product {
    width: 30%;
  }
}
