* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  display: grid;
  grid-template-rows: auto 1fr auto;
  font-family: "Noto Sans TC", sans-serif;
  background: #f1f1f1;
}

.wrapper {
  min-height: 100vh;
}

.main,
nav {
  width: 90%;
  max-width: 1000px;
  margin: 0 auto;
}

nav {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 18px;
  padding: 16px;
}

h1,
.link {
  text-transform: uppercase;
  letter-spacing: 0.5px;
}

.link {
  color: #867c73;
}

.link.active {
  color: #fd7e14;
}

.link:hover {
  color: #efb381;
}
.title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 32px 16px;
}
.loader-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 60vh;
}

.loader {
  border: 16px solid #f3f3f3;
  border-top: 16px solid #f38f3c;
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.input-search {
  outline: 0;
  height: 42px;
  width: 244px;
  line-height: 42px;
  padding: 0 16px;
  background-color: rgba(255, 255, 255, 0.8);
  color: #212121;
  border: 0;
  border: 1px solid rgb(243 182 131);
  border-radius: 5px;
  transition: 1s;
}

.input-search:hover {
  box-shadow: 0 0 5pt 0.5pt #d3d3d3;
}

.input-search:focus {
  outline: 0;
  box-shadow: 0 0 5pt 2pt #d3d3d3;
  outline-width: 0px;
}

.products-container,
.wishlist {
  display: flex;
  flex-flow: wrap;
  justify-content: space-between;
}

.error {
  border: 2px solid #dec135;
  padding: 32px;
  width: 100%;
  background: #f7f4d0;
  font-size: 18px;
  margin-top: 32px;
  color: #1d1d1c;
}

.product {
  display: flex;
  margin: 0.5em;
  width: 100%;
}

.product-item {
  display: flex;
  flex-direction: column;
  background-color: #efeeea;
  padding: 1em;
  width: 100%;
  box-shadow: 1px 1px 10px 1px #d8d5d5;
}
.product-item:hover {
  box-shadow: 5px 5px 10px 10px #c1bebe;
}

.product-item p {
  flex: 1 0 auto;
}

.price {
  display: flex;
  justify-content: space-between;
  margin-top: 16px;
}
.price span {
  font-size: 22px;
}
i {
  font-size: 24px;
  color: #fd7e14;
  cursor: pointer;
}
.img-container {
  position: relative;
  padding-top: 56.25%;
  margin-bottom: 16px;
}

.img {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

@media all and (min-width: 500px) {
  .product {
    width: 45%;
  }
}
@media all and (min-width: 800px) {
  .product {
    width: 30%;
  }
}
